<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <!-- <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
              </div> -->
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <!-- <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div> -->
                <div>
                  <span class="heading">{{posts.length}}</span>
                  <span class="description">Messages</span>
                </div>
                <!-- <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div> -->
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>{{this.authService.authenticatedUser.nom}} {{this.authService.authenticatedUser.prenom}}
              <span class="font-weight-light">, 21</span>
            </h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Casablanca, Maroc</div>
            <!-- <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div> -->
            <div><i class="ni education_hat mr-2"></i>Ecole Hassania des Travaux Publics (EHTP)</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <link rel="stylesheet" type="text/css"
              href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
            <!-- <div class="container bootstrap snippets bootdey">
    <div class="col-sm-8"> -->
            <!-- <div class="panel panel-white post panel-shadow">
            
            <div class="post-heading">
              <div class="pull-left image">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="img-circle avatar" alt="user profile image">
              </div> -->


            <!-- <div *ngFor="let post of posts">
                  <div class="pull-left meta">
                      <div class="title h5">
                          <a href="#"><b>EL Khaoui Safae</b></a>
                          made a post.
                      </div>
                      <h6 class="text-muted time">{{post.datePublication}}</h6>
                  </div>
                
                  <div class="post-description"> 
                  <br/>
                  <br/>
                  <br/>
                  <p></p>
                  <h5>{{post.titre}}</h5>
                  <h5>{{post.competence}}</h5>
                  <p>{{post.contenu}}</p>
              </div> -->

            <div *ngFor="let post of posts">

              <div class="card b-1 hover-shadow mb-20">
                <div class="media card-body">
                    <div class="media-left pr-12">
                        <img class="avatar avatar-xl no-radius" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="...">
                    </div>
                    <div class="media-body">
                        <div class="mb-2">
                            <span class="fs-20 pr-16">{{post.apprenti.nom}} {{post.apprenti.prenom}}</span>
                        </div>
                        <!-- <small class="fs-16 fw-300 ls-1">Designer</small> -->
                    </div>
                    <div class="media-right text-right d-none d-md-block">
                        <p class="fs-14 text-fade mb-12">{{post.competence.nom}}</p>
                        <span class="text-fade">{{post.datePublication}}</span>
                    </div>
                </div>
        
                <footer class="card-footer flexbox align-items-center">
                    <div>
                      {{post.id}}
                        <strong>{{post.titre}}</strong>
                        <br>
                        <span>{{post.contenu}}</span>
                    </div>
                    <div class="card-hover-show">
                      <p *ngIf="afficherApprover &&  isPostApproved(post.id)" class="text-success">Approved</p>
                      <a *ngIf="afficherApprover==false || !isPostApproved(post.id)" class="btn btn-xs fs-10 btn-bold btn-primary" data-toggle="modal" data-target="#modal-contact" (click)="validatePostByFormateur(post.id, authService.authenticatedUser.username)">Accepter</a>
                      <a *ngIf="afficherApprover==false || !isPostApproved(post.id)" class="btn btn-xs fs-10 btn-bold btn-warning">X</a>
                      </div>
                </footer>
            </div>
            
            
            </div>
          </div>



        </div>

      </div>
    </div>


    <!-- </div>
          </div> -->
    <!-- </div> -->
    <!-- </div>
    </div> -->
  </section>
</main>