
  <main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <!-- <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                  <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
                </div> -->
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <!-- <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div> -->
                  <div>
                    <span class="heading">{{posts.length}}</span>
                    <span class="description">Posts</span>
                  </div>
                  <!-- <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>{{this.authService.authenticatedUser.nom}} {{this.authService.authenticatedUser.prenom}}
                <span class="font-weight-light">, 21</span>
              </h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Casablanca, Maroc</div>
              <!-- <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div> -->
              <div><i class="ni education_hat mr-2"></i>Ecole Hassania des Travaux Publics (EHTP)</div>
            </div>
            <!-- <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <form [formGroup]="postForm" (ngSubmit)="onPost()">
                    <div class="form-group">
                      <label for="title">Titre</label>
                      <input type="text" class="form-control" id="title" formControlName="title">
                    </div>
                    <div class="form-group">
                      <label for="body">Description</label>
                      <textarea class="form-control" id="body" rows="5" formControlName="body"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="competence">Compétence</label>
                      <select class="form-control" id="competence" formControlName="competence">
                        <option *ngFor="let competence of competences" [value]="competence">{{competence}}</option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Publier</button>
                  </form>
                </div>
                <div class="col-md-6">
                  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
                  <div *ngFor="let post of posts" class="card mb-3">
                    <div class="card-body">
                      <h5 class="card-title">{{post.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{post.competence}}</h6>
                      <p class="card-text">{{post.body}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <hr>
            <br/>
            <br/>
            <br/>
            <h5>Post a new message:</h5>

            <!-- (submit)="onPost(title.value, content.value)" -->
            <!-- <form> 
              <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required #title>
              </div>
              <div>
                <label for="content">Content:</label>
                <textarea id="content" name="content" required #content></textarea>
              </div>
              <div>
                <label for="competence">Competence:</label>
                <select id="competence" name="competence" required [(ngModel)]="selectedCompetence">
                  [value]="posts.competence"
                  <option>{{selectedCompetence}}</option>
                </select>
              </div>
              <button type="submit">Post</button>
            </form>

            <h2>Posts:</h2>

            <div *ngFor="let post of posts">
              <h3>{{post.title}}</h3>
              <p>{{post.content}}</p>
              <p>{{post.competence.nom}}</p>
              <p>{{post.apprenti.email}}</p>
            </div>

            <p *ngIf="errorMessage">{{errorMessage}}</p> -->



            
            <div class="post-description"> 
      
            <form #addFor="ngForm"  [formGroup]="postForm" (ngSubmit)="addPost()">
              <div class="form-group">
                <label class="col-form-label">Titre: </label>
                <input type="text"  name="titre" formControlName="titre"  class="form-control" id="titre" placeholder="Titre" required>
              </div>
              <div class="form-group">
                <label class="col-form-label">Contenu:</label>
                <input type="text" class formControlName="contenu"  name="contenu" class="form-control" id="contenu" placeholder="Ajouter un post" required>
              </div>
              <div *ngFor="let option of competences">
                
                  <input type="radio" name="competences" (change)="onOptionSelected(option.nom)" [checked]="option.nom === selectedcompetence" /> {{ option.nom }}
                
              </div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
              <button id="add-abonne-form" type="submit"  class="btn btn-primary">Ajouter</button>
            </form>
            </div>
            <br/>
            <br/>
            <br/>
            <p></p>
            

            <hr>

          <div *ngFor="let post of posts">
            <div class="post-heading">
              <div class="pull-left image">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="img-circle avatar" alt="user profile image">
              </div>
              <div class="pull-left meta">
                <div class="title h5">
                    <a href="#"><b>{{this.authService.authenticatedUser.nom}} {{this.authService.authenticatedUser.prenom}}</b></a>
                    
                </div>
                <h6 class="text-muted time">{{post.datePublication}}</h6>
                <!-- <h6 class="text-muted time">2j</h6> -->
              </div>
            </div>  
            <br/>
            <br/>
            <div class="post-description"> 
           
            <br/>
            <p></p>
            <h5>{{post.titre}}</h5>
            <h5>{{post.competenceName}}</h5>
            <p>{{post.contenu}}</p>
            
            <div *ngFor="let item of formateursPost[post.id]">
              <style>
                li {
                  list-style-type: none;
                }
              </style>
            <li  class="position-relative booking">
              <div class="media">
                  <div class="msg-img">
                      <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                  </div>
                  <div class="media-body">
                      <h5 class="mb-4">{{item.nom}} {{item.prenom}} <span class="badge badge-primary mx-3">Pending</span></h5>
                  </div>
              </div>
              <div class="buttons-to-right">
                  <a class="btn-gray mr-2"><i class="far fa-times-circle mr-2"></i> Rejeter</a>
                  <a  class="btn-gray"  (click)="afficherDetailsFormateur(item.email)"><i class="far fa-check-circle mr-2"></i> Approuver</a>
              </div>
          </li>

          <li *ngIf="acceptedFormateur==item.email" class="position-relative booking">
            <div class="media">
                <div class="msg-img">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                </div>
                <div class="media-body">
                    <h5 class="mb-4"> {{item.nom}} {{item.prenom}}<span class="badge badge-success ml-3">Approved</span></h5>
                    <div class="mb-3">
                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">mail:</span>
                        <span class="bg-light-green">{{item.email}}</span>
                    </div>
                    <div class="mb-3">
                        <span class="mr-2 d-block d-sm-inline-block mb-2 mb-sm-0">phone:</span>
                        <span class="bg-light-green">{{item.telephone}}</span>
                    </div>
                </div>
            </div>
        </li>
      </div>
        
        

            <!-- <h5>Concernant la probabilité!!!</h5>
            <h6>Maths</h6>
            <p>Supposons que vous avez 10 billes rouges et 5 billes bleues dans un sac. Quelle est la probabilité de choisir une bille rouge au hasard ?</p> -->
            <br/>
            <br/>
        </div>
      </div> 

      



<!-- /// DYAL DBBBBBBB -->

            <!-- <div class="container mt-5">
              <div class="row">
                <div class="col-md-6 offset-md-3">
                  <div class="card">
                    <div class="card-header">
                      <h5 class="card-title">{{apprenti.nom}} {{apprenti.prenom}}</h5>
                    </div>
                    <div class="card-body">
                      <ul>
                        <li><strong>ID:</strong> {{apprenti.id}}</li>
                        <li><strong>Email:</strong> {{apprenti.email}}</li>
                        <li><strong>Téléphone:</strong> {{apprenti.telephone}}</li>
                      </ul>
                      <h5 class="mt-3">Mes Posts:</h5>
                      <ul *ngIf="apprenti.posts.length">
                        <li *ngFor="let post of apprenti.posts">
                          <h6>{{post.titre}}</h6>
                          <p>{{post.contenu}}</p>
                        </li>
                      </ul>
                      <p *ngIf="!apprenti.posts.length">Vous n'avez pas encore publié de post.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            


          </div>
        </div>
      </div>
    </section>
  </main>


