<div *ngIf="isApprenti">
  <main class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <!-- <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                  <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
                </div> -->
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <!-- <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div> -->
                  <div>
                    <span class="heading">0</span>
                    <span class="description">Posts</span>
                  </div>
                  <!-- <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>EL KHAOUI Safae
                <span class="font-weight-light">, 21</span>
              </h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Casablanca, Maroc</div>
              <!-- <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div> -->
              <div><i class="ni education_hat mr-2"></i>Ecole Hassania des Travaux Publics (EHTP)</div>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <div class="container bootstrap snippets bootdey">
      <div class="col-sm-8">
          <div class="panel panel-white post panel-shadow">
              <div class="post-heading">
                  <div class="pull-left image">
                      <img src="./assets/img/theme/team-4-800x800.jpg" class="img-circle avatar" alt="user profile image">
                  </div>
                  <div class="pull-left meta">
                      <div class="title h5">
                          <a href="#"><b>EL KHAOUI Safae</b></a>
                          <!-- made a post. -->
                      </div>
                      <h6 class="text-muted time"> <a> + compétence </a> </h6>
                  </div>
              </div> 
              <!-- <div class="post-description"> 
                  <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                  <div class="stats">
                      <a href="#" class="btn btn-default stat-item">
                          <i class="fa fa-thumbs-up icon"></i>2
                      </a>
                      <a href="#" class="btn btn-default stat-item">
                          <i class="fa fa-share icon"></i>12
                      </a>
                  </div>
              </div> -->
              <div class="post-footer">
                  <div class="input-group"> 
                      <input class="form-control" placeholder="Add a post" type="text">
                      <span class="input-group-addon">
                          <a href="#"><i class="fa fa-edit"></i></a>  
                      </span>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>

<div *ngIf="!isApprenti">
<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <!-- <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
              </div> -->
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <!-- <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div> -->
                <div>
                  <span class="heading">0</span>
                  <span class="description">Messages</span>
                </div>
                <!-- <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div> -->
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <h3>LAZAAR Basma
              <span class="font-weight-light">, 21</span>
            </h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Casablanca, Maroc</div>
            <!-- <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div> -->
            <div><i class="ni education_hat mr-2"></i>Ecole Hassania des Travaux Publics (EHTP)</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <!-- <div class="post-heading">
                <div class="pull-left image">
                    <img src="./assets/img/theme/team-4-800x800.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#"><b>EL KHAOUI Safae</b></a>
                        
                    </div>
                </div>
                
            </div>  -->
            <div class="post-heading">
              <div class="pull-left image">
                  <img src="./assets/img/theme/team-4-800x800.jpg" class="img-circle avatar" alt="user profile image">
              </div>
              <div class="pull-left meta">
                  <div class="title h5">
                      <a href="#"><b>EL Khaoui Safae</b></a>
                      made a post.
                  </div>
                  <h6 class="text-muted time">1 minute ago</h6>
              </div>
          </div> 
            <div class="post-description"> 
            <br/>
            <br/>
            <br/>
            <p></p>
                <p>Bootdey is a gallery of free snippets resources templates and utilities for bootstrap css hmtl js framework. Codes for developers and web designers</p>
                <div class="stats">
                    <!-- <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-up icon"></i>2
                    </a>
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-share icon"></i>12
                    </a> -->
                </div>
            </div>
            <!-- <div class="post-footer">
                <div class="input-group"> 
                    <input class="form-control" placeholder="Add a post" type="text">
                    <span class="input-group-addon">
                        <a href="#"><i class="fa fa-edit"></i></a>  
                    </span>
                </div>
                
            </div> -->
        </div>
    </div>
</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
</div>



