<!-- barre de recherche -->
<form class="form-inline my-2 my-lg-0"  [formGroup]="searchForm" (ngSubmit)="searchByUsername()">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName="keyword">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  
  <!-- résultats de recherche -->
  <div *ngIf="searchResults.length > 0">
    <h3>Résultats de recherche :</h3>
    <ul>
      <li *ngFor="let user of searchResults">{{ user.name }}</li>
    </ul>
  </div>